<mat-toolbar class="toolbar">
	<img src="../../../assets/education.svg" class="img">
	<span>Bookstore</span>
</mat-toolbar>
<h1 style="text-align:center;margin-top: 100px;">Forgot Your Password?</h1>

<div fxLayout="column" fxLayoutAlign="center center">


	<mat-card class="matcard ">

		<div fxLayout="column" fxLayoutAlign="center center" style="margin-top: -20px;">

			<mat-card-title>
				<h3 style="text-align: center;">Enter your email address and we'll send you a link to reset your
					password.</h3>

			</mat-card-title>
		</div>

		<form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">

			<div fxLayout="column" fxLayoutAlign="center center" style="margin-top: -20px;">
				<label>EmailId</label>
				<mat-form-field appearance="outline">
					<input  style="border: black;height: 35px; ;width: 250px" matInput type="text" formControlName="email">
					
				</mat-form-field>

				<div>
					<button style="color: white;" mat-button class="ResetButton">Reset Password
					</button>
				</div>
			</div>
		</form>

		<div fxLayout="column" fxLayoutAlign="start start">
			<button (click)="oncreateaccount()" class="Createaccount">Create Account</button>
		</div>
	</mat-card>

</div>